<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mars--Memory</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=375,minimum-scale=0.5, maximum-scale=2.0, user-scalable=no"/>
    <script type="application/javascript" src="/comJs/common.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="content">
		<div class="login">
            <div class="form_item">
                <p>账号:</p>
                <input type="text" name="userName" />
            </div>
            <div class="form_item">
                <p>密码:</p>
                <input type="password" name="password" />
            </div>
            <button>进入</button>
        </div>
	</div>
    <div class="footer">
        回溯
    </div>
</body>
</html>